.section-container {
  background-color: #E3E3E3;
  border-radius: 8px;
  border: 1px solid #6D6D6D;
  margin-top: 10px;
  padding: 5px 0;
}

h3 {
  color: #6D6D6D;
}

.btn-primary {
  margin: 5px;
}

.btn-outline-primary, .btn-outline-light {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  padding-bottom: 3px !important;
  font-weight: bold !important;
  border-width: 2px !important;
  margin-left: 10px;
}

.movie, .fav-movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background-color: #2BF395;
  color: #fff;
  padding: 8px;
}

.fav-movie {
  display: inline-flex;
  margin: 5px;
}

.movie {
  margin-bottom: 10px;
}